<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


<script>
    var ws = new WebSocket('ws://127.0.0.1:8080/')
    // 上面这句代码干了很多事
    // 1 产生随机字符串并发送给服务端  Sec-WebSocket-Key: EMy5N4dwjl/jHoU0eYDDGQ==
    // 2 服务端发送处理好的内容过来之后 自动校验
</script>
</body>
</html>